<h2>Напоминания</h2>
<form (submit)="createReminder()">
  <input [(ngModel)]="newReminder.name" name="name" placeholder="Заголовок">
  <input [(ngModel)]="newReminder.dateToNeedComleteReminder" name="dateToNeedComleteReminder" type="datetime-local" placeholder="Дата">
  <button type="submit">Добавить напоминание</button>
</form>
<ul>
  <li *ngFor="let reminder of reminders">
    {{ reminder.name }} - {{ reminder.dateToNeedComleteReminder | date:'short' }}
    <button (click)="updateReminder(reminder)">Обновить</button>
    <button (click)="deleteReminder(reminder.id)">Удалить</button>
  </li>
</ul>

<dx-data-grid [dataSource]="reminders" [showBorders]="true">
  <dxi-column dataField="name" caption="Название"></dxi-column>
  <dxi-column dataField="dateToNeedComleteReminder" dataType="date" caption="Дата напоминания"></dxi-column>
  <dxi-column type="buttons" [buttons]="['edit', 'delete']"></dxi-column>
</dx-data-grid>
