<div class="container col-5">
  <form (submit)="createTag()" class="mb-3">
    <div class="input-group mb-3">
      <input [(ngModel)]="newTag.name" name="name" class="form-control" placeholder="Введите название тега">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">Добавить тег</button>
      </div>
    </div>
  </form>
  <ul class="list-group">
    <li *ngFor="let tag of tags" class="list-group-item d-flex justify-content-between align-items-center">
      {{ tag.name }}
      <button class="btn btn-danger btn-sm" (click)="deleteTag(tag.id)">Удалить</button>
    </li>
  </ul>
</div>

