<div class="container">
  <header>
    <nav class="nav nav-pills nav-justified d-flex justify-content-center">
      <button class="nav-item nav-link" (click)="activeTab = 'notes'">Заметки</button>
      <button class="nav-item nav-link" (click)="activeTab = 'tags'">Теги</button>
      <button class="nav-item nav-link" (click)="activeTab = 'reminders'">Напоминания</button>
    </nav>
  </header>
  <div class="mt-3">

    <div *ngIf="activeTab === 'notes'">
      <app-notes></app-notes>
    </div>

    <div *ngIf="activeTab === 'tags'">
      <app-tags></app-tags>
    </div>

    <div *ngIf="activeTab === 'reminders'">
      <app-reminders></app-reminders>
    </div>
  </div>


</div>




