<!-- notes.component.html -->
<h2>Заметки</h2>
<form (submit)="createNote()">
  <input [(ngModel)]="newNote.title" name="title" placeholder="Заголовок">
  <input [(ngModel)]="newNote.content" name="content" placeholder="Содержание">
  <button type="submit">Добавить заметку</button>
</form>
<ul>
  <li *ngFor="let note of notes">
    {{ note.title }} - {{ note.content }}
    <button (click)="updateNote(note)">Обновить</button>
    <button (click)="deleteNote(note.id)">Удалить</button>
  </li>
</ul>

<dx-data-grid [dataSource]="notes" [showBorders]="true" [allowColumnResizing]="true"
    [columnAutoWidth]="true">
  <dxi-column dataField="title" caption="Заголовок"></dxi-column>
  <dxi-column dataField="content" caption="Содержание"></dxi-column>
  <dxi-column dataField="dateCreate" dataType="date" caption="Дата создания" ></dxi-column>
  <dxi-column dataField="dateToNeedComlete" dataType="date" caption="Дата завершения"></dxi-column>
  <dxi-column dataField="status" dataType="boolean" caption="Статус"  [width]="100"></dxi-column>
  <dxi-column type="buttons" [buttons]="['edit', 'delete']"></dxi-column>
</dx-data-grid>



